@import "tailwindcss";

@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-redhat: "Red Hat Text", sans-serif;

  --color-red: #c73b0f;
  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;
  --color-green: #1ea575;
}
